#login_center
{
    width:300px;
    height:auto;
    overflow:hidden;
    margin:10% auto 0 auto;
    padding:40px;
    box-shadow:0 -15px 30px #0d957a;
    border-radius:5px;
}
#login_center h1
{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    color:#45bda6;
    text-shadow:0 0 1px #0e947a;
    margin-bottom:15px;
}
#login_center h1 strong
{
    display:block;
}
#login_center h1 em
{
    display:block;
    font-size:12px;
    margin-top:8px;
}
#login_center form
{
    margin:5px 0;
    height:160px;
    overflow:hidden;
    position:relative;
}
#login_center form .login_txtbx
{
    font-size:14px;
    height:26px;
    line-height:26px;
    padding:8px 5%;
    width:90%;
    text-indent:2em;
    border:none;
    background:#5cbdaa;
    color:white;
}
#login_center form .login_txtbx::-webkit-input-placeholder
{
    color:#f4f4f4;
    line-height:inherit;
}
#login_center form .login_txtbx:-moz-placeholder
{
    color:#f4f4f4;
    line-height:inherit;
}
#login_center form .login_txtbx::-moz-placeholder
{
    color:#f4f4f4;
    line-height:inherit;
}
#login_center form .login_txtbx:focus
{
    background:#55b7a4;
}
#login_center form:before
{
    font-family:'adminthemesregular';
    position:absolute;
    top:0;
    left:10px;
    height:42px;
    line-height:42px;
    font-size:20px;
    color:#0c9076;
}
#login_center form.user_icon:before {content:"u";  }
#login_center form.pwd_icon:before{content:"p";}
#login_center form.val_icon:before{content:"n";}
#login_center form .ver_btn
{
    text-align:right;
    border:none;
    color:#f4f4f4;
    height:42px;
    line-height:42px;
    margin:0;z-index:1;
    position:relative;
    float:right;
    background:#48bca5;
}
#login_center form .submit_btn
{
    width:100%;
    height:42px;
    border:none;
    font-size:16px;
    background:#048f74;
    color:#f8f8f8;
}
#login_center form .submit_btn:hover
{
    background:#0c9076;
    color:#f4f4f4;
}
#login_center p
{
    color:#53c6b0;
    font-size:12px;
    text-align:center;
    margin:5px 0;
}